.total-revenue-div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .div-revenue-first-section {
    padding: 10px;
  }
  
  .executive-revenue-div {
    margin-top: 10px;
  }
  