/* Center the form and adjust the layout */
.login-page {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(to bottom, #00004d, #fff);
  padding: 30px;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form elements horizontally */
  width: 100%;
  max-width: 400px; /* Set a maximum width for the form */
}

.login-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px; /* Added margin to separate from form elements */
  text-align: center; /* Center text */
}

.para-after-login-title {
  font-size: 16px;
  font-weight: 100;
  text-align: center; /* Center text */
}

.login-logo-div {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin-bottom: 20px; /* Added margin to separate from other elements */
}

.form-group {
  margin-bottom: 20px; /* Added margin to separate form groups */
  width: 100%; /* Ensure form groups use full width */
}

label {
  margin-bottom: 10px; /* Added bottom margin to labels */
}

.login-input {
  width: 100%;
  padding: 14px;
  color: black;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.signup-link {
  color: #3f51b5;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline; /* Changed display to inline */
}

.login-button {
  background-color: #00004d;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.forgot-password {
  color: #3f51b5;
  text-decoration: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensure it spans the full width of its container */
}

/* Modal styling */
.forgot-password-modal {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center modal content */
}

.modal-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center text */
}

.reset-password-fields {
  margin-top: 20px;
  width: 100%; /* Ensure fields use full width */
}

.otp-button,
.reset-button {
  margin-top: 10px;
  width: 100%; /* Full width buttons */
}
