.login-page {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  background-image: linear-gradient(to bottom, #00004D, #fff);
  padding: 30px;
  /* background: transparent; */
}
.login-toolbar {
  background: transparent;
  border: none;
}
.login-title {
  /* display: flex; */
  justify-content: left;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 10px;
}
.background {
  /* background: none; */
  background-image: linear-gradient(to bottom, #00004D, #fff);
  background-color: red;
}
.para-after-login-title {
  font-size: 15px;
  font-weight: 400;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}
.login-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-logo {
  width: 100px;
  height: 100px;
  /* margin-bottom: 30px; */
}

.login-input {
  padding: 10px;
  margin-top: 0;
  /* margin-bottom: 15px; */
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  width: 100%; /* Adjust width as needed */
}
.forgot-password {
  display: flex;
  justify-content: right;
}
.forgot-password,
.signup-link {
  color: #3f51b5;
  text-decoration: none;
  margin-bottom: 10px;
}

.signup-link {
  display: flex;
  justify-content: baseline;
}
.signup-link a {
  color: inherit;
}

.login-button {
  background-color: #00004D;
  color: #fff;
  padding: 10px 20px;
  border: none;
 font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 150px; /* Adjust width as needed */
  border-radius: 50px;

}
