/* Profile.css */

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Profile.css */

/* Profile.css */

/* Container for the profile image */
.avatar-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 120px; /* Adjust size as needed */
  height: 120px; /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden; /* Ensure the image is clipped to the circle */
  background-color: #f0f0f0; /* Optional: Background color for placeholder */
  border: 2px solid #ddd; /* Optional: Border for the profile picture */
  position: relative; /* Ensures positioning for absolute child elements */
}

/* Style for the image inside the circle */
.avatar-container img {
  position: absolute; /* Allows precise control over positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the image */
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image covers the container and maintains its aspect ratio */
  object-position: center; /* Centers the image within the container */
}

/* Style for the placeholder icon */
.avatar-container .icon {
  font-size: 60px; /* Adjust size as needed */
  color: #888; /* Adjust color as needed */
}

.user-greeting {
  font-size: 24px;
  margin-left: 20px;
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-password-modal {
  --width: 80%;
}

.modal-content {
  padding: 20px;
}

.modal-title {
  margin-bottom: 20px;
}
