.logout-btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .logout-btn{
    width: 100px;
    height:40px ;
    background-color: red;
    color: white ;
    border-radius: 30px;
    margin-bottom: 40px;
  }