.add-executive {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 100vh; */
  }
  
  /* Custom styles for input fields and labels */
  .add-executive-item {
    margin-bottom: 15px;
  }
  
  /* Custom styles for the file input */
  .add-executive-item input[type="file"] {
    /* Add your custom styles here */
  }
  
  /* Custom styles for the dropdown arrow */
  .select-arrow {
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
  }
  .add-case-button{
    color: #fff;
    /* padding: 0 20px; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 320px;
    background-color: #00004D;

    margin-top: 20px;
  }
  .label-cases{
    padding-left: 10px;
  }
  .case-page{
    /* padding: 10px; */
    height: 80vh;
    /* background-color: #f8f8f8; */
  }