.case-details-container {
  margin: 20px;
  padding: 20px;

  /* border: 1px solid #ccc; */
  border-radius: 14px;
  background-color: #f9f9f9;
}

.case-details-label {
  font-family: Arial, sans-serif;
  color: #333;
}

.case-details-label h2 {
  margin-bottom: 10px;
  color: #0056b3;
}

.case-details-label p {
  margin: 5px 0;
  font-size: 16px;
}

.recommended-products-button {
  display: flex;
  justify-content: center;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  background-color: #00004d;
  height: 50px;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 14px;
  text-decoration: none;
  z-index: 1000;
}
