.report-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 1rem 0;
}

.report-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.report-icon {
  height: 40px;
  width: 40px;
}

.report-name {
  flex-grow: 1;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.download-icon {
  font-size: 1.5rem;
  color: #333;
}

.main-card {
  padding: 1rem;
}
.report-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-wrapper {
  background-color: #e2dee9;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-report {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

.modal-title-report {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.date-row {
  display: flex;
  justify-content: space-between;
}

.modal-item {
  flex: 1;
  margin-right: 10px;
  background-color: white;

  margin: 10px;
}
.modal-item-filetype {
  flex: 1;
  /* margin-right: 10px; */
  background-color: white;
  border: 1px solid black;
  margin: 10px 10px 20px 10px;
  border-radius: 10px;
}
.modal-item:last-child {
  margin-right: 0;
}

.calendar-icon {
  color: black;
  margin-left: 8px;
  font-size: 1.2em;
}

IonButton {
  margin-top: 20px;
}
