.add-executive-item-product{
  margin-bottom: 5px;

  justify-content: space-between;
}
.save-product-button {
  background-color: #00004d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
