.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ff0000;
  padding: 8px;
}

.custom-table th {
  background-color: #959595ac;
}

.custom-table tr {
  background-color: #a4aeefac;
}

.table-container {
  overflow-x: auto;
}
