/* SignUp.css */
.signup-container {
  background: linear-gradient(to bottom, #00004d, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.signup-logo-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin-bottom: 20px;
}

.signup-logo {
  /* width: 150px;
  height: 100px; */
  /* border-radius: 50%; */
}

.signup-form-container {
  /* background: #ffffff; */
  /* border-radius: 10px; */
  padding: 20px;
  width: 100%;
  /* max-width: 400px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* text-align: center; */
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-input-item {
  margin-bottom: 30px;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-input,
.signup-file-input {
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 14px;
}

.signup-submit-button {
  margin-top: 10px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  width: 150px;
  background-color: #00004d;
  margin-bottom: 20px;
}

.signup-toast {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.signup-toast.success {
  background-color: #d4edda;
  color: #155724;
}

.signup-toast.error {
  background-color: #f8d7da;
  color: #721c24;
}
