.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
  background-image: linear-gradient(to bottom, #00004d, #fff);
  padding: 30px;
}

.signupdiv-for-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.signup-logo {
  width: 100px;
  height: 100px;
}

.signup-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 10px;
  margin-bottom: 10px;
  /* color: #fff; */
  /* text-align: center; */
}

.para-after-signup-heading {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  /* color: #fff; */
  /* text-align: center; */
}

.input-div {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.input-signup {
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #fff;
  width: 100%; /* Adjust width as needed */
  color: black;
  padding-left: 10px;
}

.label-signup {
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 5px;
  /* color: black; */
  margin-right: 10px;
}

.signUp-button {
  margin-top: 10px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  width: 150px;
  background-color: #00004d;
}

.signUp-button-signup {
  margin-top: 15px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  width: 190px;
  background-color: #00004d;
}

.success-message {
  color: green;
  font-size: 20px;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 20px;
  margin-top: 10px;
}
