.ion-accordion {
  width: 100%;
}

/* .ion-item-header {
    display: flex;
    align-items: center;
  } */

.add-client-btn {
  display: flex;
  justify-content: center;
  font-size: 18px;
  background-color: #00004d;
  height: 50px;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 14px;
  text-decoration: none;
}
/* ViewClient.css */
.custom-accordion {
  --ion-item-background: transparent; /* Remove default background */
  --padding-start: 0; /* Remove padding */
}

.custom-accordion .accordion-icon {
  display: none; /* Hide default icon */
}

.ion-item-header {
  --inner-padding-end: 0; /* Adjust as needed */
  --inner-padding-start: 0; /* Adjust as needed */
}

.viewClientContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}